<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://pablopunk.github.io/SwiftShift/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>PQGWx0AXEkNhJ/Bt6wwCk/wWouWD40dqdokJsY5BvdA=</string>
</dict>
</plist>
