---
---
<div
  class="bg-dots flex flex-col [&:nth-child(even)]:flex-col [&:nth-child(even)]:lg:flex-row-reverse
 items-center justify-between gap-6 border-b border-neutral-3 py-12 lg:flex-row lg:border-none"
>
  <slot />
</div>

<style>
.bg-dots {
  position: relative;
}
.bg-dots::before {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(var(--accent-5) 1px, transparent 1px);
  background-size: 16px 16px;
  -webkit-mask-image: radial-gradient(ellipse 50% 50% at 50% 50%, #000 60%, transparent 100%);
  mask-image: radial-gradient(ellipse 50% 50% at 50% 50%, #000 60%, transparent 100%);
  background-size: 24px 24px;
}
.bg-dots:nth-child(odd)::before {
  background-image: radial-gradient(var(--accent2-5) 1px, transparent 1px);
}
</style>
